
  .order-info {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 10px;
  }
  
  .stat-title {
    font-size: 25px;
  }
  
  .stat-value {
    font-size: 35px;
    font-weight: bold;
    margin: 0;
  }
  
  .stat-amount {
    font-size: 35px;
    font-weight: bold;
  }
  
  .arrow {
    background-color: rgb(232, 172, 123);
    width: 30px;
    height: 30px;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
  }
  
  .icon {
    background-color: rgb(223, 187, 156);
    width: 30px;
    height: 30px;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
  }
  
 
  